<h1>Post Archives until {% now "N d, Y" %}</h1> # 1
<ul>
    {% for date in date_list %} # 2
    <li style="display: inline;"> # 3
        <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">Year-{{ date|date:"Y" }}</a></li> # 4
    {% endfor %}
</ul>
<br/>


<div>
    <ul> # 4
        {% for post in object_list %} # 5
        <li>{{  post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp; # 6
            <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a></li>
        {% endfor %}
    </ul>
</div>
